@{
    ViewBag.Title = "Просмотр";
    Layout = "_Layout";
}

<table id="weatherTable"
       style="width: 100%">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Время</th>
        <th>Температура, гр.Ц</th>
        <th>Отн. влажность воздуха, %</th>
        <th>Точка росы, гр.Ц</th>
        <th>Атм. давление, мм рт.ст.</th>
        <th>Направление ветра</th>
        <th>Скорость ветра, м/с</th>
        <th>Облачность, %</th>
        <th>Нижняя граница облачности, м</th>
        <th>Горизонтальная видимость, км</th>
        <th>Погодные явления</th>
    </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/display.js"></script>
}