@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Архив погоды в городе Москве</h1>
    <p>Это сайт, на котором можно загружать и просматривать историю погоды в городе Москве</p>
</div>