@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather archive for Moscow</h1>
    <p>This is a site where you can upload and view weather history in Moscow</p>
</div>