@{
    ViewBag.Title = "Загрузка";
    Layout = "_Layout";
}

<form action="#"
      id="uploadForm"
      enctype="multipart/form-data"
      method="post">
    <input class="btn no-animation"
           id="filesInput"
           multiple
           name="files"
           type="file"
           value="Choose excel files"/>
    <p id="errorMessage"
       style="color: red; display: none;">
        Неподдерживаемый формат файла.
        Пожалуйста, загрузите файл Excel в формате (.xls или .xlsx).
    </p>
    <p id="waitMessage"
       style="color: blue; display: none;">
        Пожалуйста, подождите, идет загрузка... А пока сделайте разминку
    </p>
    <button class="btn btn-outline-primary"
            id="uploadButton"
            type="submit">
        Загрузить
    </button>
</form>

@section Scripts {
    <script asp-append-version="true" v="124" src="~/js/upload.js"></script>
}